.menu {
    background-color: var(--color-white);
    box-shadow: 0 2px 4px 1px var(--color-shadow);
    display: flex;
    list-style-type: none;
    padding: 0 16px;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.nav-item {
    cursor: pointer;
    font-size: 16px;
    list-style-type: none;
    min-width: 70px;
    padding: 18px;
    text-align: center;
    transition: color .1s linear;
    text-decoration: none;
}

.nav-item:hover a{
    color: var(--color-bg);
}

.spinner {
    background: var(--color-shadow10);
    border-radius: 50%;
    height: 17.5px;
    display: inline-block;
    margin: 20px;
    position: absolute;
    right: 16px;
    top: 0;
    width: 17.5px;
    z-index: 1;
}
.spinner:after, .spinner:before {
    border-radius: 50%;
    content: "";
    display: block;
    height: 17.5px;
    width: 17.5px;
}

.spinner__on {
    display: inline-block;
    will-change: transform;
}

.spinner__on::after {
    animation: spin 2s linear infinite;
    border: 2px solid transparent;
    border-bottom-color: var(--color-link);
    border-top-color: var(--color-link);
    left: -2px;
    position: absolute;
    top: -2px;
}

.spinner__on::before {
    animation: shrink 3s ease infinite;
    background-color:var(--color-link);
    height: 8.5px;
    left: 4.4px;
    position: absolute;
    top: 4.4px;
    width: 8.5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.4);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}
@keyframes shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}