.podcast {
    align-items: center;
    backface-visibility: hidden;
    background-color: var(--color-white);
    border-radius: 2px;
    box-shadow: 0 2px 4px 1px var(--color-shadow);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin: 0 0 128px;
    max-width: var(--size-column);
    padding: 8px;
    position: relative;
    text-align: center;
    transition: all .2s linear;
    width: var(--size-column);
}

.podcast:hover {
    box-shadow: 0 2px 8px 4px var(--color-shadow);
    transform: scale(1.01);
}

.podcast h1 {
    color: var(--color-bg);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin: 45px 0 8px;
    text-transform: uppercase;
}

.podcast p {
    color: var(--color-gray);
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 8px;
}

.podcast__image {
    background: var(--color-shadow50);
    border-radius: 50px;
    height: 80px;
    left: 50%;
    margin-bottom: 16px;
    padding: 1px;
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
    width: 80px;
}
